* {
  margin: 0 auto;
  padding: 0 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 20px;
}

body {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

table {
  display: inline-block;
  flex-wrap: wrap;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px gray;
  font-size: small;
  color: black;
}

table img {
  width: 150px;
  height: 150px;
}

table i.fa-circle-plus {
  float: right;
  cursor: pointer;
  font-size: larger;
}

button {
  cursor: pointer;
}

#cotizador-form input {
  width: 60px;
  margin: 5px 5px;
}

#logo-abamat {
  width: 100px;
}

#dark-mode-btn {
  margin-left: 600px;
  display: block;
}

#main-container {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}

html.dark {
  background-color: rgb(94, 86, 69);
  color: white;
}

img {
  width: 250px;
}

a {
  text-decoration: none;
  line-height: 1.4;
  padding: 0.25em;
  cursor: pointer;
}

a:visited {
  color: black;
}

.nav-tabs {
  position: relative;
  margin: 0 0 40px 0;
}

.nav-tabs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 0;
}

.nav-tabs li {
  display: inline-block;
}

.nav-tabs .tab {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  cursor: pointer;
  line-height: 1.6;
  padding: 0.25em;
}

.nav-tabs .tab.active {
  border-bottom: 7px solid black;
}

.borders-tab {
  position: absolute;
  z-index: -1;
  bottom: 3px;
  border-bottom: black solid 1 px;
  min-width: 400px;
}

.tab {
  all: unset;
}

.tab-content {
  max-width: 450px;
  display: none;
  margin: 0 auto;
}

.tab-content.show {
  display: block;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-around;
}

button#menu-sidebar {
  width: 25px;
}

#navbar li {
  display: inline-block;
}

.container {
  max-width: 800px;
  margin: 0px auto;
  padding: 0 20px;
}

.nav-item a {
  text-align: center;
  padding: 13px 20px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

#app-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #ececec;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  color: #2c2c2c;
  transition: transform 220ms;
  display: flex;
  flex-direction: column;
  height: 100%;
  transform: translateX(-100%);
}

#app-sidebar.show {
  transform: translateX(0);
}

#app-sidebar ul {
  list-style: none;
  padding-left: 20px;
  line-height: 30px;
}

#app-sidebar .end {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#app-sidebar hr {
  border: 0;
  border-top: 1px solid #94868b;
}

#app-sidebar p {
  padding-left: 20px;
  padding-bottom: 0;
}

#app-sidebar a:hover {
  color: orangered;
  text-decoration: none;
}

#dark-mode-btn {
  text-align: center;
  margin: 0 auto;
}

#piezas-varilla {
  text-align: center;
}

#seccion-piezas select,
p {
  display: inline-flex;
}

#piezas-varilla {
  text-align: center;
}

#seccion-piezas select,
p {
  display: inline-flex;
}

input.error {
  border-top-color: #f44336;
  border-right-color: #f44336;
  border-bottom-color: #f44336;
}

input.success {
  border-top-color: #458179;
  border-right-color: #458179;
  border-bottom-color: #458179;
}
