@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
* {
  box-sizing: border-box;
}

#main-container {
  margin-top: 0;
  border: 1px solid greenyellow;
}

#inicio {
  font-weight: bold;
}

#carrete {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  
}

#ubicacion {
  margin-top: 150px;
}

select {
  background-color: greenyellow;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 20px;
}

body {
  margin-top: 0;
  color: #333;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

button {
  cursor: pointer;
  background-color: greenyellow;
  padding: 10px 10px;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#logo-abamat {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80px;
}

#main-container {
  background-color: #e0e0e9;
  max-width: 100%;
  min-width: 100%;
  text-align: center;
  margin: 0 auto;
}


img {
  width: 250px;
}

a {
  text-decoration: none;
  line-height: 1.4;
  padding: 0.25em;
  cursor: pointer;
}

a:visited {
  color: black;
}

.nav-tabs {
  position: relative;
  margin: 0 0 40px 0;
}

.nav-tabs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 0;
}

.nav-tabs li {
  display: inline-block;
}

.nav-tabs .tab {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
  cursor: pointer;
  line-height: 1.6;
  padding: 0.25em;
  font-weight: bold;
}

.nav-tabs .tab.active {
  border-bottom: 7px solid black;
}

#navbar {
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.telefono {
  margin-top: 150px;
}

#navbar li {
  display: inline-block;
}

p {
  color: #333;
  font-size: medium;
  font-weight: 600;
}
















